{% extends "live_base.html"%}
{% block content %}
<div class='row'>

    <div class='container'>
        <div class='videobox col-6'>
            <iframe src="https://www.youtube.com/embed/{{course.tvcode1}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="true"></iframe>
        </div>
        <br><br>
        <div class='videobox col-6'>
            <iframe src="https://www.youtube.com/embed/{{course.tvcode2}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="true"></iframe>
        </div>
    </duv>
    
</div>
{% endblock %}