{% extends "live_base.html"%}
{% block content %}
<div class='row'>

    <div class='col-6 videobox'>
        <iframe frameborder="0" src="https://www.youtube.com/embed/{{course.tvcode0}}"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="true"></iframe>
    </div>
</div>
{% endblock %}
