<!doctype html>
<html lang="en">

  {% include "video/header.html" %}

<body>
    {% include "video/navbar.html" %}

    <div class='container'>

      {% block content %}
      {% endblock %}
      
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>

    {% comment %} {% include "video/footer.html" %} {% endcomment %}
</body>
</html>