<nav class="navbar navbar-light bg-light fixed-bottom">
        <div class=contain>
            <p id='time'>{{now}}</p>
        </div>
</nav>

<script>
    setInterval(function(){
        console.log(moment().format('YYYY-MM-DD HH:mm:ss'));
        $('#time').text(moment().format('YYYY-MM-DD HH:mm:ss'))
    }, 1000);
</script>