<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">慈儀佛堂線上直播平台</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                {% for i in course_list %}
                    <a class="nav-link" href="{% url 'course-url' forloop.counter0 %}">{{i.name}}</a>
                {% endfor %}
                
            </ul>
        </div>
    </div>
</nav>